@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: var(--primary-color) transparent;
  scrollbar-width: thin;
}

:root {
  --white: #f3f3f3;
  --black: #121212;
  --black-shadow: #12121276;
  --white-shadow: #f3f3f376;
  --font-color: #f3f3f3;
  --font-color-shadow: #f3f3f339;
}

:root.light {
  --font-color: #121212;
  --primary-color: #094810;
  --primary-color-shadow: #11771d76;
  --details: #fff;
  --background: #f3f3f3;
}

:root.dark {
  --primary-color: #840808;
  --primary-color-shadow-details: #84080876;
  --primary-color-shadow: #010101;
  --details: #fff;
  --background: #1b1b1b;
}

.material-symbols-outlined-active {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}