@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ECECEC;
    --black: #121212;
    --black-shadow: #12121276;
    --white-shadow: #ECECEC76;
}

:root.light {
    --primary-color: #771111;
    --primary-color-shadow: #77111184;
    --details: #75706F;
    --background: #ECECEC;
}

:root.dark {
    --primary-color: #F51D1D;
    --primary-color-shadow: #f51d1daa;
    --details: #ECECEC;
    --background: #2f2f2f;
}